# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# Environment variables
.env

# Logs
*.log

# IDE and editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if you ever use them)
.ipynb_checkpoints/
